@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <h1 class="display-4">登入</h1>
    <span>
        <label>用户名：</label>
        <input id="txtUserName" type="text" />
    </span>
    <span>
        <label>密码：</label>
        <input id="txtPassword" type="text" />
    </span>
    <span>
        <input id="btnLogin" type="button" value="登入" />
    </span>
</div>
